{
  "ConnectionStrings": {
    "DefaultConnection": "Server=database.neon.microvac;Port=3306;Database=wp_sideka_20171024;Uid=root;Pwd=ingininiinginitubanyaksekali"
  },
  "Logging": {
    "IncludeScopes": false,
    "Debug": {
      "LogLevel": {
        "Default": "Debug",
        "System": "Information",
        "Microsoft": "Information"
      }
    },
    "Console": {
      "LogLevel": {
        "Default": "Debug",
        "System": "Information",
        "Microsoft": "Information"
      }
    }
  },
  "Security": {
  },
  "ApiVersion": "2.0"
}
